#bio-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 0rem 4rem;
  font-size: 1.5rem;
  font-weight: 300;
}
#bio-box > p > h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
}
#bio-box > p {
  max-width: 1000px;
}

.social-icons {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-icons > a {
  color: rgb(133, 209, 216);
}
#headshot-box {
  position: relative;
  height: 250px;
  width: 250px;
}
#headshot {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 5px 3px 30px rgb(67, 67, 67);
}

#job-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
#job-buttons > a {
  text-decoration: none;
}

.homepage-button {
  display: flex;
  padding: 0.5em 1em;
  background: linear-gradient(0deg, #203a43, transparent) #203a43;

  color: #fff;
  text-decoration: none;
  transition: background-color 1s;

  border-radius: 10px;
  border: 2px solid rgb(133, 209, 216);
}
.homepage-button > p {
  font-weight: 400;
}
.homepage-button:hover {
  background-color: rgb(133, 209, 216);
  color: #fff;
}
