#bio-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 0rem 4rem;
  font-size: 1.5rem;
  font-weight: 300;
}
#bio-box > p > h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
}
#bio-box > p {
  max-width: 1000px;
}

.social-icons {
  margin: 2rem 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-icons > a {
  color: rgb(0, 0, 0);
}
#headshot-box {
  position: relative;
  height: 220px;
  width: 220px;
}
#headshot {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: 5px 3px 30px rgb(67, 67, 67);
}

#job-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
#job-buttons > a {
  text-decoration: none;
}
