#hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 4em;
  padding-top: 2rem;
}
.title-portrait {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-style: italic;
}
#hero-title {
  font-size: 4em;
  text-align: left;
}
#headshot-box {
  position: relative;
  height: 120px;
  width: 120px;
}
#headshot {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 5px 3px 30px rgb(67, 67, 67);
}
.title-box > h3 {
  font-weight: 200;
  font-size: 2em;
}

.seeking {
  z-index: 100;
  font-size: 0.8rem;
  position: absolute;
  left: -3px;
  top: 8px;
  font-weight: 500;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 0 3px 8px;
}

.star {
  position: absolute;
  animation: 15s rotate infinite;
  animation-timing-function: linear;
}

.star {
  width: 40px;
  height: 40px;
  background: rgb(225, 74, 212);
}
.star:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: rgb(225, 74, 212);
  transform: rotate(45deg);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
