.project-page {
  display: flex;
  flex-direction: column;
}
.project-page > a {
  display: flex;
  margin-left: 4rem;
}
.home-button {
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(82, 82, 82);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  padding: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.project-page-content-box {
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}
.sketch-page-content-box {
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-page-pic-box {
  flex: 0 1 45%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.sketch-box {
  width: 100%;
  height: 400px;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.gallery-img {
  width: 30%;
  min-width: 200px;
}
.project-page-pic-box > img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 50px;
}

.project-page-info {
  flex: 1 1 45%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.project-page-title {
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
}
.project-page-text {
  line-height: 1.2rem;
}
.project-page-info > h3 {
  font-size: 1.5em;
  font-weight: 600;
  font-style: italic;
}
.icon-box {
  color: white;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
